[submodule "SLIDE_opt_ia"]
	path = SLIDE_opt_ia
	url = https://github.com/IntelLabs/SLIDE_opt_ia
[submodule "HashingDeepLearning"]
	path = HashingDeepLearning
	url = https://github.com/keroro824/HashingDeepLearning
[submodule "NegativeSampling"]
	path = NegativeSampling
	url = https://github.com/RUSH-LAB/NegativeSampling
	
